.hero-container {
  display: flex;
  padding: 5rem 18rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero-container::after,
.hero-container::before {
  content: " ";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.128rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(250px);
}
.hero-container::after {
  top: 3rem;
  left: 8rem;
}

.left-tech {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 8.5rem;
}

.avatarImg {
  height: 419px;
  width: 419px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  margin-bottom: 2rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.avatarImg:hover {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-0.8rem);
}

.hero-container::before {
  bottom: 4rem;
  right: 8rem;
}

.hero-content {
  flex: 1;
  max-width: 1350px;
}

.hero-content h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.hero-content p {
  width: 80%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
}

.hero-img {
  padding-top: 3rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tech-icons {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 2rem;
}


.tech-icon{
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.5rem;
  border: 0.1px solid #6852ba;
  transition: transform 0.3s ease, opacity 0.3s ease;
}



.avatar {
  display: flex;
  justify-content: center;
}

.tech-icon span {
  width: 5rem;
  height: 4.7rem;
  transition: all 0.3s ease;
}

.tech-icon:hover {
  transition: all 0.3s ease;
  transform: translateY(-1rem) scale(1.2);
  opacity: 0.9;
}

.tech-icon img {
  transition: transform 0.6s ease, opacity 0.3s ease;
}

.tech-icon img:hover {
  transition: all 0.8s ease;
  transform: translateY(-1.5rem);
  opacity: 0.9;
}

@media (max-width: 1740px) {
  .hero-container {
    padding: 5rem 4rem;
  }
}

@media (max-width: 1425px) {
  .hero-container {
    padding: 5rem 3rem;
  }
}

@media (max-width: 1245px) {
  .hero-container {
    padding: 5rem 3rem;
  }
  .hero-content p {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  .hero-content h2 {
    margin: 2rem 0;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .left-tech {
    padding-bottom: 6.2rem;
  }
  .avatarImg {
    width: 20rem;
    height: 20rem;
  }
  .tech-icon img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .tech-icon {
    width: 5rem;
    height: 5rem;
  }

}

@media (max-width: 1025px) {

  .hero-content h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .hero-container {
    padding: 5rem 3.5rem;
  }

  .hero-content p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .img {
    width: 20rem;
  }

}

@media (max-width: 945px) {
  .hero-content h2{
    font-size: 2rem;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-img {
    padding-left: 0;
    margin: 2rem 0 2rem 0;
  }

  .hero-container h2 {
    margin-top: 3rem;
  }

  .hero-content h2,
  .hero-content p {
    width: auto;
    text-align: center;
  }

  .hero-content {
    h2 {
      font-size: 2.8rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .hero-container::after,
  .hero-container::before {
    content: " ";
    width: 18rem;
    height: 18rem;
    filter: blur(150px);
  }
  .hero-container::after {
    top: 10rem;
    left: 5rem;
  }

  .hero-container::before {
    bottom: 8rem;
    right: 5rem;
  }
}

@media (max-width: 600px) {
}


